<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<div th:insert="navigation :: header"></div>
<div class="container">

    <div style="align: center;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Due Date</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.title}"></td>
                <td th:text="${task.description}"></td>
                <td th:text="${#temporals.format(task.dueDate, 'dd-MMM-yyyy')}"></td>
                <td >
                    <form method="POST" th:action="@{/delete(taskId=${task.id})}">
                        <button type="submit" name="submit" value="value" class="link-button">DELETE</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



<div th:insert="navigation :: lang-select"></div>

</body>
</html>